#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Gnorasi
GenericName=Gnorasi Knowledge-based Remote Sensing Platform
Icon=/usr/share/icons/gnorasi.png
Exec=/usr/bin/gnorasi
Terminal=0
Type=Application
Categories=Education;Geography;
X-SuSE-translate=true